:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Sour Gummy', sans-serif;
  --heading: 'Sour Gummy', sans-serif;
  --mono: ui-monospace, Consolas, monospace;


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  min-height: 100svh;
  font-family: var(--sans);
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  background:
    /* linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.05)), */
    url('./assets/webdev-bg.jpg') center / cover fixed no-repeat;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.heading img {
  width: auto;
  height: 250px;
  align-content: center;
}

.heading h3 {
  font-weight: 250;
  margin-top: -25px;
  color: #ba6e6e;
}

.heading p {
  color: #797d62;
  margin: 0;
}

.headingMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: min(520px, 90vw);
  margin-top: 0.25rem;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.toggle label {
  color: #797d62;
  font-weight: 600;
}
